h1 {
    color: #d0e2f1;
    font-size: 400%;
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h2 {
    color: #80bdf0;
    font-size: 200%;
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

p {
    color: #2c8bd8;
    font-size: 150%;
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

p1 {
  color: #d0e2f1;
  font-size: 200%;
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.background {
    background-image: url("bugatti.jpg");
  }

button {
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 19px;
    border: 0px solid #2d63c8;
    border-radius: 30px;
    padding: 15px 50px;
    letter-spacing: 1px;
    cursor: pointer
}
button:hover {
    color: #011d52;
    background-color: #ffffff;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 110%;
    min-height: 110%;
  }

  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  .bg {
    background: linear-gradient(to bottom right, #2a5e7c, #541e6d);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bshadow {
    box-shadow: 5px 5px;
}